@page
@model proiect_Anca_Simulei.Pages.Vinuri.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vin.ID" />
            <div class="form-group">
                <label asp-for="Vin.Nume_Vin" class="control-label"></label>
                <input asp-for="Vin.Nume_Vin" class="form-control" />
                <span asp-validation-for="Vin.Nume_Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Producator" class="control-label"></label>
                <input asp-for="Vin.Producator" class="form-control" />
                <span asp-validation-for="Vin.Producator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Pret" class="control-label"></label>
                <input asp-for="Vin.Pret" class="form-control" />
                <span asp-validation-for="Vin.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.DataImbutelierii" class="control-label"></label>
                <input asp-for="Vin.DataImbutelierii" class="form-control" />
                <span asp-validation-for="Vin.DataImbutelierii" class="textdanger"></span>
            </div>
            <label asp-for="Vin.DomeniuID" class="control-label">Nume domeniu</label>
            <select asp-for="Vin.DomeniuID" class="form-control" asp-items="ViewBag.DomeniuID">
            </select>
            <span asp-validation-for="Vin.DomeniuID" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
